.mystyle{
background: #0a1931;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f6fafd;
    margin-bottom:1px;
}

.mystyle a{

    color: #f6fafd;
    text-decoration: none;
}

h5:hover{
color: rgb(243, 55, 9);
text-decoration: underline ;

}

#backbutton a{
display: inline-block;
border: #f6fafd solid 2px;
border-radius: 13px;
padding: 3px 15px;
text-decoration: none;
color: #0a1931;
font-size: 18px;
background: white;

}

#backbutton {
display: inline-block;
margin-top: 20px;
padding-left: 12px;

}

#buttonarea{
background: #0a1931;
padding-bottom: 19px;
}

#practicecontainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 50px;
background: #0a1931;
padding: 40px;
}


 .tablestyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.tablestyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.tablestyle:hover{
 animation: pulse;
animation-duration: 2s;

}

 .gallerystyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.gallerystyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}


.gallerystyle:hover{
 animation: pulse;
animation-duration: 2s;

}

 .loginstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.loginstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.loginstyle:hover{
 animation: pulse;
animation-duration: 2s;

}

.responsivepfstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.responsivepfstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.responsivepfstyle:hover{
 animation: pulse;
animation-duration: 2s;

}

.liststyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.liststyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.liststyle:hover{
 animation: pulse;
animation-duration: 2s;

}

.bookmarkstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.bookmarkstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.bookmarkstyle:hover{
 animation: pulse;
animation-duration: 2s;

}

.advdstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.advdstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.advdstyle:hover{
 animation: pulse;
animation-duration: 2s;

}

.divstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.divstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.divstyle:hover{
 animation: pulse;
animation-duration: 2s;

}

.three3dstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.three3dstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.three3dstyle:hover{
 animation: pulse;
animation-duration: 2s;

}


.javastyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.javastyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.javastyle:hover{
 animation: pulse;
animation-duration: 2s;
}


.elementstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.elementstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.elementstyle:hover{
 animation: pulse;
animation-duration: 2s;
}

.createdivstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.createdivstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.createdivstyle:hover{
 animation: pulse;
animation-duration: 2s;
}

.button1style{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.button1style a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.button1style:hover{
 animation: pulse;
animation-duration: 2s;
}

.inputstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.inputstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.inputstyle:hover{
 animation: pulse;
animation-duration: 2s;
}

.colorstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.colorstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.colorstyle:hover{
 animation: pulse;
animation-duration: 2s;
}


footer{
    background-color: #0a1931;
    color: #f6fafd;
    text-align: center;
    padding: 10px;
    margin-top: -5px;
}



@media only screen and (max-width: 600px) {
  .mystyle {
    flex-direction: row;
    gap: 35px;
    font-size: 16px;
    margin-bottom:1px;
}
}