.mystyle{
background: #0a1931;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f6fafd;
    margin-bottom:1px;
}

.mystyle a{

    color: #f6fafd;
    text-decoration: none;
}

#backbutton a{
display: inline-block;
border: #f6fafd solid 2px;
border-radius: 13px;
padding: 3px 15px;
text-decoration: none;
color: #0a1931;
font-size: 18px;
background: white;

}

#backbutton {
display: inline-block;
margin-top: 20px;
padding-left: 12px;

}

#buttonarea{
background: #0a1931;
padding-bottom: 19px;
}

#practicecontainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 50px;
background: #0a1931;
padding: 40px;
}


 .tablestyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.tablestyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

 .gallerystyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.gallerystyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

 .loginstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.loginstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.responsivepfstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.responsivepfstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.liststyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.liststyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.bookmarkstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.bookmarkstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}

.advdstyle{
display: flex;
justify-content: center;
flex-wrap:wrap;
border: #f6fafd solid 3px;
width: 250px;
height: 250px;
background: #ffffff;
border-radius: 10px;
box-shadow: #f6fafd 1px 1px 16px;
align-items: center;


 }

.advdstyle a{
    text-decoration: none;
    color: #0a1931;
    font-size: 25px;
}


footer{
    background-color: #0a1931;
    color: #f6fafd;
    text-align: center;
    padding: 10px;
    margin-top: -5px;
}



@media only screen and (max-width: 600px) {
  .mystyle {
    flex-direction: row;
    gap: 35px;
    font-size: 16px;
    margin-bottom:1px;
}
}